@import "./variables.scss"; // more action
.view-dashboard-explore,
.view-dashboard-posts,
.view-dashboard-links {
    .relative {
        display: flex;
        flex-direction: column;
        align-items: center;
        >div:nth-child(2) {
            width: 75%;
        }
        >button {
            display: none;
        }
    }
}

.view-dashboard-posts,
.view-dashboard-links {
    .relative {
        >div:nth-child(2) {
            display: none;
        }
    }
}

.widget {
    .image-container {
        background-color: white;
        >.cover-photo {
            background-color: white;
        }
        >.image-text h2 {
            color: $mainFontColor !important;
        }
    }
    .new-tab-menu {
        >.tab-item {
            border: none;
            &:hover {
                color: $mainColor;
            }
            &.md-accent {
                // tab actice
                border-radius: 0px;
                border-bottom: 2px solid $mainColor;
                border-right: none;
                border-left: none;
                background-image: linear-gradient(to right, white, white) !important;
                color: $mainFontColor;
            }
        }
    }
    .container-fluid {
        .circle-button-container {
            i {
                border: 2px solid #e8e8e8;
            }
        }
    }
}

dynamic-directive {
    .label-block {
        strong {
            color: $mainColor;
        }
    }
}