@import "./variables.scss";
.order-summary {
    .remove-plan {
        color: $mainColor;
    }
    button {
        position: relative; // position: absolute;
        bottom: 5px;
        left: -50%;
        transform: translateX(50%);
        margin: 0;
    }
    .order-summary-content {
        position: relative;
        border: 1px solid $borderColor;
        background-color: transparent;
        box-shadow: none;
    }
    order-summary {
        .no-items-section {
            color: $mainFontColor;
            opacity: 0.5;
            font-size: 1em;
        }
    }
}

.order-summary .order-summary-content {
    border-radius: $mainRadius;
}

.view-shop .order-summary table {
    background-color: transparent;
}
