@import "./variables.scss";
.user-resetPassword {
  .form-container {
    box-shadow: none;
    position: relative;
    > .rnd-container {
      display: flex;
      align-items: center;
      width: 640px;

      .signup-header {
        margin: 0px 50px;
        > h2 {
          display: none;
        }
        > img {
          width: 456px;
        }
      }
      > form {
        border-left: 1px solid $borderColor;
        text-align: center;
        > .clearfix {
          margin-bottom: 15px;
        }
        &::before {
          content: "FORGOT YOUR PASSWORD?";
          font-size: 20px;
          font-weight: 600;
        }
        &::after {
          content: "We will send link to reset your password to your e-mail.
          Please check your inbox! If you are no longer have access 
          to e-mail address associated with your account,
          please contact us at hubb@hubba.com";
          margin-top: 15px;
        }
        > .form-group:first-child {
          display: block;
          text-align: center;
          > label {
            display: none;
          }
          > div {
            width: 100%;
          }
          &::before {
            content: "Please enter your e-mail to reset password.";
            width: 100%;
            margin-bottom: 25px;
          }
        }
        > .form-group {
          display: none;
        }
        > .pull-right {
          button {
            padding: 0px;
            visibility: hidden;
            &::after {
              visibility: visible;
              content: "Reset Password";
              text-transform: none;
              background-color: $mainColor;
              padding: 7px 10px;
              border-radius: $mainRadius;
            }
          }
        }
      }
      @media screen and (max-width: 900px) {
        flex-direction: column;
        > form {
          border-left: none;
        }
      }
    }
    .login-footer {
      background-color: white;
      border: none;
      > .pull-right {
        position: absolute;
        right: 90px;
        bottom: 158px;
        a {
          color: $mainColor;
          visibility: hidden;
          &::after {
            content: "Back To Sign-in";
            color: $mainColor;
            display: block;
            visibility: visible;
            font-weight: 600;
          }
        }
      }
    }
  }
}
