@import "./variables.scss";
.rnd-container > div .checkbox {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.rnd-container > div .checkbox input {
  display: none;
}

.rnd-container > div .checkbox label {
  margin-left: 0;
  padding-left: 0;
  color: $mainColor;
}

.rnd-container > div .checkbox label::before {
  font-size: 14px;
  content: "or ";
  color: $mainFontColor;
}

input {
  border-radius: $mainRadius !important;
}

.page-background {
  background-color: white;
  background-image: none !important;
}

.page-overlay {
  background-color: white;
}

.md-raised {
  border-radius: $mainRadius;
  background-image: linear-gradient(
    to right,
    $mainColor,
    $mainColor
  ) !important;
  &:hover:not(:disabled) {
    background-image: linear-gradient(to right, $mainColor, #f99e2d) !important;
  }
  &:disabled {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.12),
      rgba(0, 0, 0, 0.12)
    ) !important;
    &:hover {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.12),
        rgba(0, 0, 0, 0.12)
      ) !important; // background-ima: rgba(0, 0, 0, 0.12) !important;
    }
  }
}

// @keyframes gradient {
//     from {
//         background: $mainColor;
//     }
//     to {
//         background: linear-gradient(to right, $mainColor, #f99e2d);
//     }
// }
@keyframes disabled {
  to {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
