@import "./variables";
.md-sidenav-left {
  box-shadow: none;
}
.md-divider {
  display: none;
}
md-sidenav {
  .md-toolbar-tools {
    button {
      display: none;
    }
  }
  md-toolbar {
    .md-toolbar-tools {
      display: flex;
      justify-content: center;
      a {
        img {
          max-height: 20px;
        }
      }
    }
  }
  md-divider {
    display: none;
  }
  .navbar-button {
    &:hover {
      color: $mainColor;
    }
  }
}

md-toolbar {
  border-bottom: 1px solid #aaa;
  box-shadow: none;
  .main-searchbox-container {
    display: none;
  }
  span {
    span {
      display: none;
    }
  }
}

.md-whiteframe-2dp {
  box-shadow: none;
}

md-sidenav .sidenav-footer {
  display: none;
}

md-sidenav md-content {
  padding-top: 0;
  background-color: white;
}

.md-sidenav-left .navbar-button {
  border-radius: 9px;
}

.ng-transclude {
  border: 1px solid red;
}
