@import "./variables.scss";
.user-signup .material-info-card {
  /*pointer-events:none;*/
}

.user-signup .plans-table > div:last-child > div {
  position: relative;
}

.user-signup .plans-table > div:last-child > div .external-link i {
  position: absolute;
  bottom: -280px;
  right: 70px;
  font-size: 30px;
  pointer-events: initial;
}

.user-signup .plans-table > div:last-child {
  > div .external-link {
    i {
      display: none;
    }
    &:after {
      content: "Inquiry";
      font-size: 14px;
      white-space: nowrap;
      position: absolute;
      bottom: -275px;
      right: 0px !important;
      margin: auto;
      width: 100px;
      height: 30px;
      background: $mainColor;
      color: white;
      text-align: center;
      line-height: 29px;
      border-radius: $mainRadius;
    }
  }
}

.user-signup .material-info-card button {
  /*pointer-events:initial;*/
}

.user-signup-plans .signup-header-wrp .btn-group button {
  border: none;
}

.user-signup .signup-header-wrp .wizzard-tabs .btn-group button.md-button:disabled, .user-signup-plans .signup-header-wrp .wizzard-tabs .btn-group button.md-button:disabled {
  color: #1c1c1c !important;
  opacity: 1 !important;
}

.user-signup-plans .signup-header-wrp {
  border-bottom: none;
}

.user-signup,
.user-signup-plans {
  .signup-header-wrp .wizzard-tabs .btn-group button {
    border: none;
    font-weight: 600;
    &.md-accent {
      color: $mainColor !important;
    }
    &.md-button {
      color: $mainFontColor;
      &:disabled {
        color: $grayDisable;
        opacity: 0.3;
      }
    }
  }
}

.user-signup .signup-header-wrp {
  border-bottom: none !important;
}

.user-signup
  .container
  .shop-items-col
  .form-container
  .mb0
  > div
  .plans-table
  .rnd-shop-item
  .rnd-item-picture {
  display: none;
}

.user-signup
  .container
  .shop-items-col
  .form-container
  .mb0
  > div
  .rnd-shop-item
  > div
  > .shop-item__description {
  margin: 20px 0px 45px;
}
.user-signup
  .shop-item__content
  > .shop-item__footer
  > .shop-item__price
  > small
  > .small
  > .ng-binding:nth-child(1) {
  display: none;
}
.user-signup
  .container
  .shop-items-col
  .form-container
  .mb0
  > div
  .plans-table
  .rnd-shop-item {
  border-radius: $mainRadius;
  border: 1px solid $borderColor;
  box-shadow: none;
}

.user-signup
  .container
  .shop-items-col
  .form-container
  .mb0
  > div
  .plans-table
  .rnd-shop-item
  .shop-item__content
  > .shop-item__footer {
  border: none;
}

.user-signup .k-list-filter input {
  display: none;
}

.user-signup .k-list-filter span {
  display: none;
}

.user-signup .login-footer .language-selector {
  display: none;
}

.user-signup .login-footer {
  background-color: white;
}

.user-signup .login-footer .pull-right a {
  color: $mainColor;
}

.user-signup .login-footer .language-selector {
  display: none;
}

.user-signup .login-footer {
  background-color: white;
}

.user-signup-plans a {
  color: $mainColor !important;
}

.user-signup a {
  color: $mainColor !important;
}

.user-signup .login-footer .pull-right a {
  color: $mainColor !important;
}

.user-signup-plans .login-footer {
  background-color: white;
}

.user-signup-plans .login-footer .language-selector {
  display: none;
}

.user-signup-plans .login-footer a {
  color: $mainColor;
}
// .user-signup .k-list-container .k-state-focused {
//   background-color: $mainColor;
// }

.user-signup-plans {
  .-details {
    img {
      width: 70%;
      margin: auto;
    }
  }
}

.user-signup,
.user-signup-plans {
  form[name="accountDetailsForm"] {
    > div > div .form-group label::after {
      content: " *";
      color: $errorColor;
    }
    > div > div > .form-group:nth-child(5) {
      display: none;
      margin-bottom: 0px;
    }
    > div > div > div > .form-group:nth-child(5) {
      display: block;
    }
    small {
      display: none;
    }
  }
}

.user-signup {
  .shop-item__content {
    > .shop-item__title {
      height: 30px !important;
    }
  }
  .shop-item__price {
    small:nth-child(1) {
      display: block !important;
    }
  }
  table > tbody:nth-child(1) > tr > td {
    text-align: left !important;
  }
}

.user-signup,
.user-signup-plans {
  #credit-card-input {
    .form-inline .form-group {
      margin-right: 5px;
    }
    @media (min-width: 768px){
      .col-sm-1 {
        width: 8%;
      }
      .col-sm-2 {
        width: 14%;
      }
    }
  }
}

.user-signup,
.user-signup-plans {
  form[name="paymentDetailsForm"] {
    div.checkbox {
      display: none;
    }
    div.form-group.form-group-element label {
      span {
        display: none;
      }
      & > input {
        position: relative;
        &::after {
          content: "need tax invoice? please provide address.";
          white-space: nowrap;
          padding-left: 19px;
          position: absolute;
          top: -5px;
        }
      }
    }
  }
}  
