// color
$mainColor: #ff850b;
$errorColor: #f15555;
$mainFontColor: #1c1c1c;
$borderColor: #b6b6b6;
$btnPrimaryBorderColor: #c36a10;
$btnPrimaryHoverColor: #cc6a09;
$disableColor: #ffddbb;
$grayDisable: #777;
$backgroundColor: rgb(250, 250, 250);
//other
$mainRadius: 9px;
